@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4 mb-4">Welcome to TravelKaro</h1>
            <p class="lead">Your ultimate destination for seamless travel booking experiences!</p>
        </div>
    </div>
</div>
