@model GBC_Travel_Group_54.Models.Hotel
@{
    ViewData["Title"] = "Create Hotel";
}

<h2>Create Hotel</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NumGuest" class="control-label"></label>
        <input asp-for="NumGuest" class="form-control" />
        <span asp-validation-for="NumGuest" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Location" class="control-label"></label>
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PricingPerNight" class="control-label"></label>
        <input asp-for="PricingPerNight" class="form-control" />
        <span asp-validation-for="PricingPerNight" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rating" class="control-label"></label>
        <input asp-for="Rating" type="number" min="0" max="5" class="form-control" />
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Amenities</label>
        <div class="form-group">
            <label for="selectedAmenities">Select Amenities:</label>
            @Html.ListBox("selectedAmenities", ViewBag.PredefinedAmenities, new { @class = "form-control" })
        </div>
    </div>


    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-warning">Cancel</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



